.header {
  max-width: 600px;

  flex: 1 0 35%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // h1 styling is on app.scss because also used in loading screen

  h2 {
    font-size: 24px;
    color: #91f2b1;

    margin-top: 30px;
    margin-left: 5px;
  }

  img {
    width: 80%;

    align-self: center;
    // make it shrink with width of window
    flex: 0 1 auto;
    overflow: auto;
  }

  // STYLING FOR VERTICAL LAYOUT
  @media only screen and (max-width: 896px) {
    max-width: 500px;

    margin-bottom: 30px;

    flex-direction: row;

    img {
      align-self: flex-end;

      margin-left: 10px;
    }
  }

  // icon too small after 415px
  @media only screen and (max-width: 415px) {
    img {
      display: none;
    }
  }
}
