.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);

// *** animation
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}
// ***


.modal {
  // center in window
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 800px;
  height: 350px;

  background-color: #5e32ba;
  border: 4px solid #5e32ba;
  border-radius: 30px;

  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;


  button {
    position: fixed;
    bottom: 15px;

    height: 40px;
    
    background-color: #f25a3c;
    border: 4px solid #f25a3c;
    border-radius: 5px;

    font-family: 'Oswald';
    font-size: 16px;
    line-height: 1.1;
    color: #f3f5f9;

    &.close {
      right: 15px;
      bottom: 15px;

      width: 80px;
      height: 40px;
    }

    &:hover {
      cursor: pointer;
      border: 4px solid #ff7f40;
    }
  }

  img {
    width: 40%;
    max-width: 300px;

    margin-left: -20px;
  }
  .text {
    padding-left: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  h2 {
    font-size: 48px;

    padding-bottom: 20px;
  }
  p {
    font-size: 24px;
    line-height: 1.2;

    &.description {
      padding-bottom: 10px;
    }
  }

  // STYLING FOR VERTICAL LAYOUT
  @media only screen and (max-width: 896px) {
    width: 92%;
    max-width: 500px;
    height: auto;

    padding: 0px;

    img {
      width: 30%;

      padding: 0px 10px;
      margin-left: 15px;

      // shrink based on width
      flex: 0 1 auto;
      overflow: auto;
    }
    .text {
      margin: 20px 15px 0;
      padding-left: 0px;

      flex: 1 0 auto;
      min-width: 300px;

    }
    h2 {
      font-size: 24px;

    }

    p {
      font-size: 16px;

      // allows space for buttons at the bottom
      &:last-of-type{
        margin-bottom: 75px;
      }
     }

    button.close {
      align-self: flex-end;
      margin-left: 5px;
      width: 80px;
    }
  }

  // icon too small after 420px
  @media only screen and (max-width: 420px) {
    img {
      display: none;
    }
  }
}
